# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.vertigo-games-case-study.iml
# Editor-based HTTP Client requests
/httpRequests/
